![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

#  Punto limpio, punto sesgo
 
Acceso desigual a los Puntos Limpios en Madrid: un análisis socioespacial

### TEMA


Distribución socioespacial de infraestructuras ambientales en Madrid y su relación con la renta y las características territoriales.

### HIPÓTESIS

- La distribución de los puntos limpios podría reflejar sesgos sociales o territoriales.  
- Los barrios más ricos estarían más alejados de los puntos limpios fijos.  
- Las personas que podrían necesitar residuos de alto valor como fuente de ingresos tienen menos acceso a los puntos limpios que los reciben.

hipotesis_1 = sería que existen sesgos sociales y territoriales significativos en la provisión y el uso de los Puntos Limpios en Madrid, lo que resulta en una inequidad en las prácticas de gestión de residuos.

hipotesis_2 = "Identificar posibles sesgos sociales o territoriales en la provisión de infraestructuras de reciclaje y en las prácticas de gestión de residuos."

hipotesis_3 Los barrios con un perfil socioeconómico más alto y/o una reputación "ecológica" más fuerte se beneficiarán de una mejor accesibilidad a los Puntos Limpios .

hipotesis_4 = "La tasa de uso de los Puntos Limpios será mayor en los barrios con un perfil socioeconómico más alto y/o una reputación "ecológica" más fuerte, incluso con una accesibilidad similar.."

hipotesis_5 = "Los barrios con alta proporción de residentes con estudios universitarios pueden utilizar paradójicamente menos estos centros."

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [ ]:
# guarda en variables los datasets y su fuente
df_1 = pd.DataFrame(renda por distrito)
fuente_1 = "INE"
# df_2 = pd.DataFrame(puntos limpios fijos)
# fuente_2 = "Ayuntamiento de Madrid"
# df_3 = pd.DataFrame(problematicas sociales)
# fuente_3 = "Ayuntamiento de Madrid"
# df_4 = pd.DataFrame(padron estadisticas 2025)
# fuente_4 = "Ayuntamiento de Madrid"
# df_5 = pd.DataFrame(fuentes)
# fuente_5 = "Ayuntamiento de Madrid"
# .df_6 = pd.DataFrame(indicadores por distrito)
# fuente_6 = "Ayuntamiento de Madrid"..
# df_7 = pd.DataFrame(avisos recibidos)
# fuente_7 = "Ayuntamiento de Madrid"
# .df_8 = pd.DataFrame(avisos tramitidos)
# fuente_8= "Ayuntamiento de Madrid"..
#df_9 = pd.DataFrame(parques y jardines)
# fuente_9= "Ayuntamiento de Madrid".
df_10 = pd.DataFrame(parques y jardines)
# fuente_10= "Ayuntamiento de Madrid".

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [3]:
import pandas as pd
# Primer dataset
df_1 = pd.read_csv('/Users/pm/Desktop/Punto Limpio/renda por distrito madrid.csv', sep=";")
df_1.head()

,Municipios,Distritos,Secciones,Indicadores de renta media y mediana,Periodo,Total
0,28079 Madrid,NaN,NaN,Renta neta media por persona,2022,18.632
1,28079 Madrid,2807901 Madrid distrito 01,NaN,Renta neta media por persona,2022,20.587
2,28079 Madrid,2807902 Madrid distrito 02,NaN,Renta neta media por persona,2022,21.383
3,28079 Madrid,2807903 Madrid distrito 03,NaN,Renta neta media por persona,2022,25.407
4,28079 Madrid,2807904 Madrid distrito 04,NaN,Renta neta media por persona,2022,28.140

In [6]:
# Siguiente dataset...
df_2 = pd.read_csv('/Users/pm/Desktop/Punto Limpio/puntos-limpios-fijos.csv', sep=";")
df_2.head(2)

,PK,NOMBRE,DESCRIPCION-ENTIDAD,HORARIO,EQUIPAMIENTO,TRANSPORTE,DESCRIPCION,ACCESIBILIDAD,CONTENT-URL,NOMBRE-VIA,...,COD-DISTRITO,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TELEFONO,FAX,EMAIL,TIPO
0,19960,Punto Limpio Fijo del Ayuntamiento de Madrid. ...,NaN,De lunes a sábados de 8 a 20 horas. Domingos y...,NaN,"Metro: Méndez Álvaro (línea 6)Bus: 148, 102, 152",El traslado de residuos correrá a cuenta de la...,0,http://www.madrid.es/sites/v/index.jsp?vgnextc...,ESTRELLA DENEBOLA,...,2.0,ARGANZUELA,442110,4471943,40.394199,-3.683421,NaN,NaN,NaN,/contenido/entidadesYorganismos/PuntosLimpiosF...
1,138166,Punto Limpio Fijo del Ayuntamiento de Madrid. ...,NaN,De lunes a sábados de 8 a 20 horas. Domingos y...,NaN,"Metro: Barajas (línea 8)Bus: 105 , 115",El traslado de residuos correrá a cuenta de la...,0,http://www.madrid.es/sites/v/index.jsp?vgnextc...,ALHAURIN,...,21.0,BARAJAS,450367,4480523,40.473908,-3.585535,NaN,NaN,NaN,/contenido/entidadesYorganismos/PuntosLimpiosF...

In [7]:
df_3 = pd.read_csv('/Users/pm/Desktop/Punto Limpio/problematicas_sociales.csv', sep=";")
df_3.head()

,SECUENCIA,CENTRO_COD,CENTRO_DESC,DISTRITO_COD,DISTRITO_DESC,BARRIO_COD,BARRIO_DESC,SECCION_CENSAL,TRAMO_EDAD,NACIONALIDAD,SEXO,PROBLEMATICA_COD,PROBLEMATICA_DESC,FECHA_INI_PROBLEMATICA,FECHA_ALTA_VERSION_HS,FX_CARGA
0,1,CSS08010,CSS Badalona,8,FUENCARRAL - EL PARDO,5.0,LA PAZ,90,75 - 79,Española,M,999,Otros problemas valorados,2025-01-02 00:00:00.0,2025-01-02 00:00:00.0,2025-07-03 01:20:27.847
1,2,CSS13020,CSS San Diego,13,PUENTE DE VALLECAS,2.0,SAN DIEGO,66,55 - 59,Extranjera,M,20,Ingresos insuficientes para necesidades básicas,2025-01-02 00:00:00.0,2025-01-02 00:00:00.0,2025-07-03 01:20:28.057
2,3,CSS06020,CSS María Zayas,6,TETUÁN,1.0,BELLAS VISTAS,19,25 - 29,Extranjera,M,20,Ingresos insuficientes para necesidades básicas,2025-01-02 00:00:00.0,2025-01-02 00:00:00.0,2025-07-03 01:20:29.647
3,4,CSS08010,CSS Badalona,8,FUENCARRAL - EL PARDO,6.0,VALVERDE,117,>= 85,Española,M,700,Falta de autonomía personal,2025-01-02 00:00:00.0,2025-01-02 00:00:00.0,2025-07-03 01:20:27.523
4,5,CSS06020,CSS María Zayas,6,TETUÁN,1.0,BELLAS VISTAS,19,25 - 29,Extranjera,M,535,Orden de alejamiento,2025-01-02 00:00:00.0,2025-01-02 00:00:00.0,2025-07-03 01:20:29.02

In [8]:
df_4 = pd.read_csv('/Users/pm/Desktop/Punto Limpio/padron_estadisticas202506.csv', sep=";")
df_4.head()

,COD_DISTRITO,DESC_DISTRITO,COD_DIST_BARRIO,DESC_BARRIO,COD_BARRIO,COD_DIST_SECCION,COD_SECCION,COD_EDAD_INT,ESPANOLESHOMBRES,ESPANOLESMUJERES,EXTRANJEROSHOMBRES,EXTRANJEROSMUJERES,FX_CARGA,FX_DATOS_INI,FX_DATOS_FIN
0,2,ARGANZUELA,203.0,CHOPERA,3.0,2036.0,36.0,52,7,5,0,0,2025-06-07 00:00:00.6646961,2025-06-01,2025-06-01
1,12,USERA,1203.0,SAN FERMIN,3.0,12029.0,29.0,70,1,8,3,0,2025-06-07 00:00:00.6646961,2025-06-01,2025-06-01
2,4,SALAMANCA,403.0,FUENTE DEL BERRO,3.0,4050.0,50.0,78,2,3,0,0,2025-06-07 00:00:00.6646961,2025-06-01,2025-06-01
3,3,RETIRO,301.0,PACIFICO,1.0,3015.0,15.0,97,0,3,0,0,2025-06-07 00:00:00.6646961,2025-06-01,2025-06-01
4,4,SALAMANCA,401.0,RECOLETOS,1.0,4011.0,11.0,87,2,3,0,0,2025-06-07 00:00:00.6646961,2025-06-01,2025-06-01

In [9]:
df_5 = pd.read_csv('/Users/pm/Desktop/Punto Limpio/fuentes202507.csv', sep=";")
df_5.head()

,ID,DESC_CLASIFICACION,COD_BARRIO,BARRIO,COD_DISTRITO,DISTRITO,ESTADO,COORD_GIS_X,COORD_GIS_Y,SISTEMA_COORD,...,NUM_VIA,COD_POSTAL,DIRECCION_AUX,NDP,FECHA_INSTALACION,CODIGO_INTERNO,CONTRATO_COD,UBICACION,USO,MODELO
0,10040803,Fuentes de beber,166,VALDEFUENTES,16,HORTALEZA,OPERATIVO,447330.063,4481612.220,ETRS89,...,11,28055.0,NaN,NaN,NaN,NaN,PV24,NaN,NaN,NaN
1,10040808,Fuentes de beber,166,VALDEFUENTES,16,HORTALEZA,OPERATIVO,446829.141,4480378.512,ETRS89,...,2,28033.0,NaN,NaN,NaN,NaN,PV24,NaN,NaN,NaN
2,10040811,Fuentes de beber,131,ENTREVIAS,13,PUENTE DE VALLECAS,OPERATIVO,443190.725,4468707.601,ETRS89,...,NaN,28053.0,NaN,NaN,NaN,NaN,PV24,NaN,NaN,NaN
3,10040812,Fuentes de beber,131,ENTREVIAS,13,PUENTE DE VALLECAS,OPERATIVO,442914.010,4468479.016,ETRS89,...,NaN,28053.0,NaN,NaN,NaN,NaN,PV24,NaN,NaN,NaN
4,10046448,Fuentes de beber,11,PALACIO,1,CENTRO,OPERATIVO,439286.799,4473557.836,ETRS89,...,3,28005.0,Parque de la Cornisa,20000014.0,2025-06-05 00:00:00.0,FUE_01_0122,FUE22,ZV,PERSONAS,MU-37AA

In [10]:
df_6 = pd.read_csv('/Users/pm/Desktop/Punto Limpio/estudiospanel_indicadores_distritos_barrios.csv', sep=";")
df_6.head()

,Orden,Periodo panel,ciudad,cod_distrito,distrito,cod_barrio,barrio,año,fecha_indicador,fuente_indicador,categoría_1,categoría_2,indicador_nivel1,indicador_nivel2,indicador_nivel3,unidad_indicador,indicador_completo,valor_indicador
0,1,2020,Ciudad de Madrid,NaN,NaN,NaN,NaN,2019,01/01/2019,Estadística Ayuntamiento de Madrid,Características Generales del Distrito-Barrio,NaN,Superficie,NaN,NaN,Ha,Superficie (Ha.),60446
1,2,2020,Ciudad de Madrid,NaN,NaN,NaN,NaN,2019,01/01/2019,Estadística Ayuntamiento de Madrid,Características Generales del Distrito-Barrio,NaN,Densidad de población,NaN,NaN,Habitantes/Ha.,Población densidad (hab./Ha.),54
2,3,2020,Ciudad de Madrid,NaN,NaN,NaN,NaN,2019,01/01/2019,Estadística Ayuntamiento de Madrid,Población del distrito,Estructura de población,Número de Habitantes,NaN,NaN,Habitantes,Número Habitantes,3266126
3,4,2020,Ciudad de Madrid,NaN,NaN,NaN,NaN,2019,01/01/2019,Estadística Ayuntamiento de Madrid,Población del distrito,Estructura de población,Número de Habitantes,Hombres,NaN,Habitantes,Población Hombres,1521178
4,5,2020,Ciudad de Madrid,NaN,NaN,NaN,NaN,2019,01/01/2019,Estadística Ayuntamiento de Madrid,Población del distrito,Estructura de población,Número de Habitantes,Mujeres,NaN,Habitantes,Población Mujeres,1744948

In [13]:
df_7 = pd.read_csv('/Users/pm/Desktop/Punto Limpio/avisos_recibidos202507.csv', sep=";")
df_7.head()

,TIPO_INCIDENCIA_ID,TIPO_INCIDENCIA,CANAL_DE_ENTRADA_ID,CANAL_DE_ENTRADA,FECHA_DE_RECEPCION,HORA_DE_RECEPCION,CATEGORIA_NIVEL1_ID,CATEGORIA_NIVEL1,CATEGORIA_NIVEL2_ID,CATEGORIA_NIVEL2,...,DISTRITO_ID,DISTRITO,BARRIO_ID,BARRIO,CODIGO_POSTAL,COORDENADA_OFICIAL_X,COORDENADA_OFICIAL_Y,COORDENADA_REAL_X,COORDENADA_REAL_Y,FX_CARGA
0,0,Aviso,NaN,Madrid Móvil (iOS),01/01/2025,00:11:19,105,Vehículos abandonados. Retirada de vehículo,67,Vehículos abandonados. Retirada de vehículo,...,20.0,San Blas-Canillejas,5.0,Rosas,28022.0,448480.0,4475711.0,448490.0,4475704.0,2025-03-01 06:14:15.363
1,0,Aviso,NaN,Madrid Móvil (Android),01/01/2025,01:45:00,48,Alumbrado público,50,Farola apagada,...,4.0,Salamanca,3.0,Fuente Del Berro,28028.0,443276.0,4474752.0,443279.0,4474756.0,2025-03-01 06:14:15.363
2,0,Aviso,NaN,Madrid Móvil (Android),01/01/2025,01:46:39,48,Alumbrado público,50,Farola apagada,...,4.0,Salamanca,3.0,Fuente Del Berro,28028.0,443283.0,4474937.0,443296.0,4474941.0,2025-03-01 06:14:15.363
3,0,Aviso,1.0,010,01/01/2025,01:57:12,25,Arboles y parques,30,Incidencias de riego,...,16.0,Hortaleza,3.0,Canillas,28043.0,445732.0,4479945.0,445727.0,4479942.0,2025-03-01 06:14:15.363
4,0,Aviso,NaN,Madrid Móvil (Android),01/01/2025,01:59:24,48,Alumbrado público,50,Farola apagada,...,11.0,Carabanchel,2.0,Opañel,28019.0,438750.0,4471013.0,438775.0,4471031.0,2025-03-01 06:14:15.363

In [ ]:
df_8 = pd.read_csv('/Users/pm/Desktop/Punto Limpio/avisos_tramitados202507.csv', sep=";")
df_8.head()

/var/folders/mh/cyn_blp16md9ky8l15xls3gr0000gn/T/ipykernel_23131/2557929916.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_7 = pd.read_csv('/Users/pm/Desktop/Punto Limpio/avisos_tramitados202507.csv', sep=";")

,TIPO_INCIDENCIA_ID,TIPO_INCIDENCIA,CANAL_DE_ENTRADA_ID,CANAL_DE_ENTRADA,FECHA_DE_RECEPCION,HORA_DE_RECEPCION,FECHA_RESOLUCION,HORA_RESOLUCION,ORGANISMO_TRASLADO_ID,ORGANISMO_TRASLADO,...,DISTRITO_ID,DISTRITO,BARRIO_ID,BARRIO,CODIGO_POSTAL,COORDENADA_OFICIAL_X,COORDENADA_OFICIAL_Y,COORDENADA_REAL_X,COORDENADA_REAL_Y,FX_CARGA
0,0,Aviso,NaN,Madrid Móvil (iOS),01/01/2025,00:11:19,05/01/2025,10:29:01,NaN,NaN,...,20.0,San Blas-Canillejas,5.0,Rosas,28022.0,448480.0,4475711.0,448490.0,4475704.0,2025-03-01 06:14:15.363
1,0,Aviso,NaN,Madrid Móvil (Android),01/01/2025,01:45:00,01/01/2025,15:38:05,NaN,NaN,...,4.0,Salamanca,3.0,Fuente Del Berro,28028.0,443276.0,4474752.0,443279.0,4474756.0,2025-03-01 06:14:15.363
2,0,Aviso,NaN,Madrid Móvil (Android),01/01/2025,01:46:39,01/01/2025,15:39:25,NaN,NaN,...,4.0,Salamanca,3.0,Fuente Del Berro,28028.0,443283.0,4474937.0,443296.0,4474941.0,2025-03-01 06:14:15.363
3,0,Aviso,1.0,010,01/01/2025,01:57:12,01/01/2025,18:11:37,NaN,NaN,...,16.0,Hortaleza,3.0,Canillas,28043.0,445732.0,4479945.0,445727.0,4479942.0,2025-03-01 06:14:15.363
4,0,Aviso,NaN,Madrid Móvil (Android),01/01/2025,01:59:24,02/01/2025,09:30:22,NaN,NaN,...,11.0,Carabanchel,2.0,Opañel,28019.0,438750.0,4471013.0,438775.0,4471031.0,2025-03-01 06:14:15.363

In [19]:
df_9 = pd.read_csv('/Users/pm/Desktop/Punto Limpio/parques-jardines.csv', sep=";", encoding='latin1')
df_9.head()

,PK,NOMBRE,DESCRIPCION-ENTIDAD,HORARIO,EQUIPAMIENTO,TRANSPORTE,DESCRIPCION,ACCESIBILIDAD,CONTENT-URL,NOMBRE-VIA,...,COD-DISTRITO,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TELEFONO,FAX,EMAIL,TIPO
0,6070995,Jardines Gregorio Ordóñez,Los jardines en memoria de Gregorio Ordóñez cu...,NaN,Zonas infantiles,"Metro: Núñez de Balboa (líneas 5 y 9) Bus: 1, ...",Conservación: Dirección General de Gestión de...,2,http://www.madrid.es/sites/v/index.jsp?vgnextc...,PRINCIPE DE VERGARA,...,4.0,SALAMANCA,442443.0,4476090.0,40.433462,-3.678595,NaN,NaN,NaN,/contenido/entidadesYorganismos/ParquesJardines
1,6010361,Jardines San Francisco el Grande,Los jardines de San Francisco el Grande están ...,NaN,NaN,"Bus: 3, 60 y 148. Servicio Bicimad, para cons...",Conservación: Dirección General de Gestión del...,2,http://www.madrid.es/sites/v/index.jsp?vgnextc...,GRAN VIA DE SAN FRANCISCO,...,1.0,CENTRO,439572.0,4473192.0,40.410022,-3.714420,NaN,NaN,NaN,/contenido/entidadesYorganismos/ParquesJardine...
2,5964519,Jardines de Andrés Saborit,Los Jardines de Andrés Saborit se encuentran e...,NaN,Zonas infantiles Zonas adulto mayor Circuito B...,"Metro: Nuevos Ministerios (líneas 6, 8 y 10) B...",Conservación: Dirección General de Gestión del...,2,http://www.madrid.es/sites/v/index.jsp?vgnextc...,RAIMUNDO FERNANDEZ VILLAVERDE,...,7.0,CHAMBERI,440726.0,4477510.0,40.446133,-3.698970,NaN,NaN,NaN,/contenido/entidadesYorganismos/ParquesJardines
3,5896013,Jardines de El Buen Retiro,"El Parque del Buen Retiro, conocido simplement...",Horario del parque Primavera y verano (de a...,Zonas infantiles: Zona del Pinar (Puerta del ...,"Metro: Retiro (línea 2), Príncipe de Vergara (...",Conservación: Dirección General de Gestión del...,2,http://www.madrid.es/sites/v/index.jsp?vgnextc...,INDEPENDENCIA,...,3.0,RETIRO,441640.0,4474563.0,40.419641,-3.687934,915 744 024 (Taquillas embarcadero) \n915 280 ...,NaN,NaN,/contenido/entidadesYorganismos/ParquesJardine...
4,10984428,Jardines de Gloria Fuertes,Este jardín rinde homenaje a la célebre poetis...,NaN,Zona infantil,"Metro: línea 9 (Colombia) Bus: 16,29,150 Serv...",Conservación: Dirección General de Gestión del...,2,http://www.madrid.es/sites/v/index.jsp?vgnextc...,MADRE DE DIOS,...,5.0,CHAMARTIN,442761.0,4479202.0,40.461518,-3.675118,NaN,NaN,NaN,NaN

In [20]:
df_10 = pd.read_csv('/Users/pm/Desktop/Punto Limpio/qualidad del aire/CALIDAD_AIRE_HORARIOS20250513.csv', sep=";", encoding='latin1')
df_10.head()

,ï»¿PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
0,28,79,11,12,28079011_12_8,2025,1,1,30.0,V,...,75.0,V,249.0,V,306.0,V,219.0,V,191.0,V
1,28,79,11,12,28079011_12_8,2025,1,2,150.0,V,...,49.0,V,41.0,V,56.0,V,38.0,V,25.0,V
2,28,79,11,12,28079011_12_8,2025,1,3,17.0,V,...,175.0,V,212.0,V,152.0,V,63.0,V,99.0,V
3,28,79,11,12,28079011_12_8,2025,1,4,173.0,V,...,61.0,V,69.0,V,76.0,V,68.0,V,56.0,V
4,28,79,11,12,28079011_12_8,2025,1,5,68.0,V,...,40.0,V,33.0,V,32.0,V,30.0,V,22.0,V